@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@import url(https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong);
@include foundation-everything;

// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.top-bar {
  background: white;
}

.top-bar-left {
  background: white;
}

.top-bar, .top-bar ul {
  background: white;
}

.button {
  background: black;
  border-radius: 20px;
}

.button:hover {
  background: red;
}

.vote-button {
  border-radius: 20px;
  color: white;
  padding: 10px;
  background: purple;
}

.upvote-button:hover {
  background: green;
}

.upvote-button-clicked {
  background: green;
}

.downvote-button:hover {
  background: red;
}

.downvote-button-clicked {
  background: red;
}

.button:focus {
  background-color: black;
}

.tiles {
  background: rgba(255, 0, 0, 0.8);
  color: antiquewhite;
  border-radius: 20px;
}

.review-tile {
  background: rgba(38, 0, 33, 0.8);
}

.tileLink:hover {
  color: yellow;
  text-decoration: underline;
}

.tileLink {
  font-family: 'Audiowide', sans-serif;
  color: yellow;
  
}

.page {
  font-family: 'Audiowide', sans-serif;
  font-weight: 100;  
}

.grid-container {
  width: 1000px
}

.header {
  font-weight: 500;
}

.text {
  font-style: italic;
}

body {
  font-family: 'Audiowide', sans-serif;
}

i {
  display: block;
  margin-bottom: 20px;
}

#topbar-logo {
  max-width: 50px;
  max-height: 35px;
}

.homeLink {
  color: black;
  padding-left: 0%;
}

.homeLink:hover {
  color:rgba(255, 0, 0, 0.8);
  text-decoration: underline;
}

#bottom-logo {
  margin: 30px 0px;
  max-width: 250px;
  max-height: 175px;
}

.delete-review:hover {
  background-color: darkgray;
}