@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.top-bar {
  background-color: red;
}
.menu {
  background-color: red;
}

// 'Base' CSS

@media (max-width: 639px) {

  h1 {
    color: green;
  }
}

@media (min-width: 640px) {

  h1 {
    color: blue;
  }
}

@media (min-width: 1024px) {

  h1 {
    color: red;
  }
}